body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: blanchedalmond;
}
p {
    color: darkred;
}
h2 {
    color: blue;
}
h1 { 
    color: coral;
}
h3 { 
    color: darkgreen;
}
div {
    width: 80%;
}
td {
    text-align: left;
    border: 1px solid black;
}